# Ignore heavy model folders
phishing_model/
phishing_model_optimized/
results/
phishing_model.zip
phishing_model_optimized.zip

# Ignore python cache and temp files
__pycache__/
*.pyc
.ipynb_checkpoints/