services:
  devui:
    image: cybersec-agent-devui
    container_name: cybersec-agent-devui
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      API_BASE_URL: ${API_BASE_URL}
      MODEL: ${MODEL}
      API_KEY: ${API_KEY}
      ENABLE_OTEL: true
      ENABLE_SENSITIVE_DATA: true             

    command: ["uv", "run", "devui", "./app", "--host", "0.0.0.0", "--port", "8080"]